
:root {
    --primary: #9C4500;
    --dark: #252525;
    --light: #FFFAEF;
}

body {
    margin: 0;
    background: var(--light);
    color: var(--dark);
    font-family: 'Courier Prime', monospace;
}

h1, h2, h3 {
    font-family: 'Akzidenz Grotesk', sans-serif;
}

h2 {
font-size: 48px;
}

header {
    display: flex;
    padding: 16px;
    background: var(--dark);
    color: white;
    justify-content: space-between;
    align-items: center;
}

.logo-header {
    height: 40px;
    width: auto;
    display: block;
    object-fit: contain;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 12px;
}
section {
    padding: 60px;
}

/* HERO - MOBILE FIRST */
.hero {
    padding: 20px;
}

/* Desktop: lado a lado */
@media (min-width: 768px) {
    .hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;   /* espaço entre os lados */
    }

    .hero-left,
    .hero-right {
        width: 50%; /* cada lado ocupa metade da largura */
    }
     .hero-left h1{
         font-size: 5em;
}
