
:root {
    --primary: #9C4500;
    --dark: #252525;
    --light: #FFFAEF;
}

body {
    margin: 0;
    background: var(--light);
    color: var(--dark);
    font-family: 'Courier Prime', monospace;
}

h1, h2, h3 {
    font-family: 'Akzidenz Grotesk', sans-serif;
}
h1 {
font-size: 5em;
}
header {
    display: flex;
    padding: 16px;
    background: var(--dark);
    color: white;
    justify-content: space-between;
}
.logo-header {
    height: 48px;
    width: auto;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 12px;
}

/* Mobile-first */
.hero {
    padding: 20px;
}

@media (min-width: 768px) {
    .hero {
        display: flex;
        justify-content: space-between;
        padding: 60px;
    }
}
