
:root {
    --primary: #9C4500;
    --dark: #252525;
    --light: #FFFAEF;
}

body {
    margin: 0;
    background: var(--light);
    color: var(--dark);
    font-family: 'Courier Prime', monospace;
}

h1, h2, h3 {
    font-family: 'Akzidenz Grotesk', sans-serif;
}

h2 {
font-size: 48px;
}

header {
    display: flex;
    padding: 16px;
    background: var(--dark);
    color: white;
    justify-content: space-between;
    align-items: center;
}

.logo-header {
    height: 40px;
    width: auto;
    display: block;
    object-fit: contain;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 12px;
}

/* HERO - MOBILE FIRST */
.hero {
    padding: 20px;
}

/* Conteúdo interno */
.hero-text {
    max-width: 800px;
}

/* Título grande */
.hero h1 {
    font-size: 64px;     /* ajuste livre */
    margin: 0 0 16px 0;
}

/* Texto */
.hero p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 600px;
}

/* DESKTOP: coloca lado a lado */
@media (min-width: 768px) {
    .hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 60px;
        gap: 60px;   /* espaço entre título e texto */
    }
}
