
:root {
    --primary: #9C4500;
    --dark: #252525;
    --light: #FFFAEF;
}

body {
    margin: 0;
    background: var(--light);
    color: var(--dark);
    font-family: 'Courier Prime', monospace;
}

h1, h2, h3 {
    font-family: 'Akzidenz Grotesk', sans-serif;
}

h2 {
    font-size: 48px;
}
h3 {
    font-size: 32px;
}

header {
    display: flex;
    width: 100%;
    padding: 16px;
    background: var(--dark);
    color: white;
    justify-content: space-between;
    align-items: center;
}

.logo-header {
    height: 40px;
    width: auto;
    display: block;
    object-fit: contain;
}

nav a {
    color: white;
    text-decoration: none;
}

/* HERO - MOBILE FIRST */
.hero {
    padding: 20px;
}

/* Desktop: lado a lado */
@media (min-width: 768px) {
   
    section {
    padding: 60px;
}
    .hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;   /* espaço entre os lados */
        padding: 60px;
    }

    .hero-left,
    .hero-right {
        width: 50%; /* cada lado ocupa metade da largura */
    }
     .hero-left h1{
         font-size: 5em;
}

/* ============================
   PRODUTOS — MOBILE FIRST
============================ */

.product-section {
    padding: 20px;
}

.product-block {
    margin-top: 20px;
}

.product-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Título do produto */
.product-info h3 {
    font-size: 32px;
    margin-top: 16px;
}

/* ============================
   DESKTOP (lado a lado)
============================ */
@media (min-width: 768px) {
    .product-block {
        display: flex;
        gap: 40px;
        align-items: center;
        margin-top: 40px;
    }

    .product-image,
    .product-info {
        width: 50%;
    }

    .product-info h3 {
        font-size: 40px;
        margin-top: 0;
    }
}

